/****** Variables ******/
/****** Fonts ******/
/****** Colors ******/
/****** Mixins ******/
html,
body {
  overflow-x: hidden;
}
html {
  font: 400 1em/1.4em Helvetica, Arial, sans-serif;
}
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
a {
  font-family: Open Sans, Gills Sans, Gill Sans MT, sans-serif;
  letter-spacing: 0.07em;
  font-weight: 400;
  color: #313131;
}
h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.6em;
}
h3 {
  font-size: 1.2em;
}
h4 {
  font-size: 1.2em;
}
p {
  margin-bottom: 10px;
}
img {
  max-width: 100%;
}
.block {
  display: block;
  margin-bottom: 4px;
}
.span,
h1,
h2,
h3,
h4,
h5,
a,
nav,
footer {
  display: inline-block;
  margin-right: -5px;
  margin-bottom: 4px;
  vertical-align: top;
}
.span section,
.span article {
  padding: 20px;
}
.row {
  margin-bottom: 40px;
}
.wrapper {
  width: 90%;
  margin: 20px auto;
}
.column16 {
  width: 100%;
  /*1024px/1024px */

}
.column15 {
  width: 93.75%;
  /* 960px/1024px */

}
.column14 {
  width: 87.5%;
  /* 896px/1024px*/

}
.column13 {
  width: 81.25%;
  /*832px/1024px*/

}
.column12 {
  width: 75%;
  /*768px/1024px */

}
.column11 {
  width: 68.75%;
  /*704px/1024px */

}
.column10 {
  width: 62.5%;
  /*640px/1024px */

}
.column9 {
  width: 56.25%;
  /*580px/1024px */

}
.column8 {
  width: 50%;
  /*512px/1024px */

}
.column7 {
  width: 43.75%;
  /*448px/1024px */

}
.column6 {
  width: 37.5%;
  /*384px/1024px */

}
.column5 {
  width: 31.25%;
  /*320px/1024px */

}
.column4 {
  width: 25%;
  /*256px/1024px */

}
.column3 {
  width: 18.75%;
  /*192px/1024px */

}
.column2 {
  width: 12.5%;
  /*128px/1024px*/

}
.column1 {
  width: 6.25%;
  /*64px/1024px */

}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
#test div {
  background-color: #9d9c9e;
  height: 30px;
}
#test2 div {
  background-color: #313131;
  height: 30px;
}
#test2 div:nth-child(odd) {
  background-color: #9d9c9e;
}
#test3 {
  background-color: #9d9c9e;
  color: #ffffff;
}
#test3 article:first-of-type {
  border-bottom: solid 1px #ffffff;
}
#main_header {
  padding: 0px;
}
#main_nav {
  background-color: #313131;
  text-align: center;
  float: right;
  padding: 5px;
}
#main_nav a {
  color: #ffffff;
  padding: 10px;
}
footer {
  background-color: #313131;
}
footer h3,
footer h4,
footer p {
  color: #ffffff;
}
#footer_nav a {
  color: #ffffff;
  padding: 0px 10px;
}
